PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=no
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME={{ interface }}
DEVICE={{ interface }}
UUID={{ uuid }}
IPADDR={{ ip_addr }}
PREFIX={{ subnet }}
GATEWAY={{ gateway }}
ONBOOT=yes
