# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @ajaysrivas @shaileshsvc

# These owners will be the code owners for the following subdirectories in the repo.
/bvt/               @ajaysrivas @shaileshsvc @Jyoti-cs
/manager/gui/       @ajaysrivas @shaileshsvc @SatyaKoli @yash-dk
/manager/backend/   @ajaysrivas @shaileshsvc @akash2144 @mukhtar-inamdar
/inframon/          @ajaysrivas @shaileshsvc @sampadap03
/provisioner/       @ajaysrivas @shaileshsvc @Rajnish-TheGreat
